<header class="border-bottom">
    {{!-- Creation of the navbar --}}
    <nav class="navbar navbar-collapse">
        {{!-- Principal  --}}
        <h1>
            <a href="/" class="text-decoration-none mr-5">Academic UPA</a>
        </h1>
        {{!-- Navegation --}}
        <ul class="nav mr-auto">
            <li class="nav-item">
                <a href="/" class="text-decoration-none">Home</a>
            </li>
            <li class="nav-item">
                <a href="/students.html" class="text-decoration-none">Students</a>
            </li>
        </ul>
    </nav>
</header>