<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic UPA</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body>
    {{!--  Import the header of aplication --}}
    {{> partials/header}}

    {{!-- Main content --}}
    <section class="container mt-5">
        <article class="w-75 mx-auto">
            <h3 class="text-center mb-3">Insert a Student</h3>
            <form class="card card-body">
                <div class="form-group row">
                    <label class="col-6" for="name">
                        Names
                        <input 
                            type="text" 
                            class="form-control border" 
                            id="name"
                        />
                    </label>
                    <label class="col-6" for="last-name">
                        Last Names
                        <input 
                            type="text" 
                            class="form-control border" 
                            id="last-name"
                        />
                    </label>
                </div>
                <div class="form-group">
                    <label class="w-100" for="address">
                        Adress
                        <input 
                            type="text"  
                            id="address"
                            class="form-control"
                        />
                    </label>
                </div>
                <div class="form-group row">
                    <label for="career" class="col-4">
                        Career
                        <select id="" class="form-control">
                            <option value="ISEI">ISEI</option>
                        </select>
                    </label>
                    <label for="grade" class="col-4">
                        Grade
                        <select id="grade" class="form-control">
                            <option value="1">1</option>
                        </select>
                    </label>
                    <label for="group" class="col-4">
                        Group
                        <select id="Group" class="form-control">
                            <option value="A">A</option>
                        </select>
                    </label>
                </div>
                <button class="btn btn-primary " type="submit">
                    Save
                </button>
            </form>
        </article>
    </section>
</body>

</html>