<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic UPA</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body>
    {{!--  Import the header of aplication --}}
    {{> partials/header}}

    {{!-- Main body --}}
    <section class="container mx-auto mt-5" id="students">
        <p class="display-4 text-center">Students</p>
        <section class="row" id="studentsContainer"></section>
    </section>

    {{!-- Message if there are no students --}}
    <section class="container mx-auto mt-5" id="messgeContainer">
        <div class="jumbotron">
            <h1 class="display-3">There are no Students registered!</h1>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/newStudent" role="button">Insert a one!</a>
            </p>
        </div>
    </section>
</body>

</html>