<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic UPA</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body>
    {{!--  Import the header of aplication --}}
    {{> partials/header}}

    {{!-- Information about the student --}}
    <section class="container mb-5">
        <section class="row mt-5">
            <article class="col-4">
                <div class="container-small w-50 centerX">
                    <img class="img-fluid" src="images/perfil.png">
                </div>
            </article>
            <article class="col-8" id="informationStudent"></article>
        </section>
    </section>

    {{!-- Qualifications of the student --}}
    <section class="container mt-5" id="qualifications">
        <h3 class="text-center">Qualifications</h3>
        <table class="table table-hover">
            <thead class="bg-dark">
                <tr>
                    <td class="text-white"># Qualification</td>
                    <td class="text-white">Course</td>
                    <td class="text-white">Parcial 1</td>
                    <td class="text-white">Parcial 2</td>
                    <td class="text-white">Attendances</td>
                    <td class="text-white">Average</td>
                </tr>
            </thead>
            <tbody id="qualifiContainer"></tbody>
        </table>
    </section>

    {{!-- Message if the student does not have qualifications --}}
    <section class="container mt-5" id="messgeContainer">
        <div class="jumbotron">
            <h1 class="display-3">ohhh! You do not have qualifications!</h1>
            <p class="lead">Possibly, teachers have not had time or we have problems with capturing these</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/" role="button">Retun the home</a>
            </p>
        </div>
    </section>

</body>

</html>