<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic UPA</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body>
    {{!--  Import the header of aplication --}}
    {{> partials/header}}

    {{!-- Main body --}}
    <section class="container-fluid mt-5 row" id="studentsContainer">
        <article class="col-4">
            <p class="h3 text-center">Insert Student</p>
            <div class="card card-body border-0">
                
            </div>
        </article>
        <article class="col-8 row">
            <div class="col-4 mb-2">
                <div class="card card-body">
                    <div class="form-group">
                        <img class="w-50 centerX-relative" src="images/perfil.png" alt="">
                    </div>
                    <p>Name: <span>Rogelio</span> <span>Trejo Estrada</span></p>
                    <p>UP: <span>UP190830</span></p>
                    <p>Grade and Group: <span>ISEI</span><span>03</span><span>B</span></p>
                    <button value="UP190830" type="button" class="btn btn-block btn-sm   btn-primary qualification">Show
                        Qualifications</button>
                </div>
            </div>
        </article>
    </section>
</body>

</html>